.list {
    display: flex;
    flex-direction: column;
    .img {
        width: 3em;
        height: 3em;
        border: radius 50;
    }
    .name {
        font-size: 1em;
        font-weight: 600;
    }
    .description {
        font-size: 0.8em;
        font-weight: 300;
    }
}