<div class="wrapper">
  <div class="page-header clear-filter" filter-color="orange">
    <div
      class="page-header-image rellax-header"
      data-rellax-speed="-7"
      style="background-image: url('assets/img/pistevoiture.jpg')"
    ></div>
    <div class="container">
      <div class="content-center brand">
        <img class="n-logo" src="assets/img/logovoiture.png" alt="" />
        <div class="container">
          <div class="wrapper">
            <div class="container">
              <div class="content-center brand"></div>
            </div>
          </div>
        </div>
        <h2 class="h1-seo">La republique Tunisienne</h2>
        <h3>
          Ce service en ligne vous permet de faire une demande à distance du
          duplicata de permis de conduire et carte grise à travers un site web
          sécurisé mis à votre disposition par le centre national de
          l'informatique.
        </h3>
      </div>
    </div>
  </div>

  <div class="main">
    <div style="margin: 0px; padding: 0 0">
      <div class="section2 section-images">
        <div
          class="navigation-example"
          style="
            background-image: url('assets/img/voituregif.gif');
            background-repeat: no-repeat;
            background-size: 100% 100%;
          "
        >
          <div class="section">
            <div class="container text-center">
              <div class="row justify-content-md-center">
                <div class="col-md-12 col-lg-8">
                  <h2 class="title">Conditions de bénéfice du service :</h2>
                  <h4>
                    Peuvent bénéficier de ce service les citoyens tunisiens
                    résidant en Tunisie ou à l’étranger et ceux résidant à
                    l’étranger qui séjournent sur le territoire tunisien. Comme
                    ils peuvent bénéficier de ce service les étrangers nés sur
                    le territoire tunisien, les étrangers y résidant et les
                    étrangers qui ont résidé sur le territoire tunisien une
                    période déterminée.
                  </h4>
                  <h4>
                    Le prix du service est payé à travers un système de paiement
                    électronique. Ce prix comporte la redevance sur le bulletin
                    n°3 du casier judiciaire et le coût du service, à savoir le
                    prix de l’enveloppe, le tarif du courrier par Rapid-Poste et
                    le coût des services financiers et comptables.
                  </h4>
                  <h4>
                    Ne sont délivrés à travers ce service en ligne que les
                    extraits du casier judicaire n° 3 vierges. S’il s’avère que
                    l’extrait demandé n’est pas vierge, le demandeur du document
                    sera appelé par Rapid-Post à contacter le consulat tunisien
                    le plus proche, pour les résidants à l’étranger, ou le poste
                    de la police ou de la garde nationale territorialement
                    compétent pour les résidants en Tunisie, et ce afin de
                    régulariser sa situation.
                  </h4>
                  <h4>
                    Toute personne qui fait usage d’un tel document, le sachant
                    obtenu dans les conditions précitées, ou établi sous un nom
                    autre que le sien sera punie selon la réglementation en
                    vigueur.
                  </h4>

                  <h2 class="title">Comment faire :</h2>
                  <h3>1. Remplissez le formulaire</h3>
                  <h4>
                    Pour nous aider à mieux vous servir, nous vous prions de
                    bien vouloir vérifier les informations renseignées dans le
                    formulaire et d'être conforme aux informations de votre etat
                    civil. Avant de passer à l'étape suivante, une confirmation
                    des données saisies vous sera demandée
                  </h4>
                  <h3>2. Payez la prestation</h3>
                  <h4>
                    Vous pouvez payer via les cartes de crédit aussi bien
                    postale (e-dinar epost etc etc etc), les cartes bancaires
                    nationales (tunisie monétique ...) ou encore les cartes
                    internationale (visa electron etc...)
                  </h4>
                  <h3>3. Imprimez votre recu</h3>
                  <h4>Imprimez l'accusé de réception de la demande</h4>
                  <h3>4. Suivez votre demande</h3>
                  <h4>Imprimez le reçu de payement de la prestation.</h4>
                </div>
              </div>
            </div>
          </div>

          <div
            class="section section-signup"
            style="
              background-image: url('assets/img/bg11.jpg');
              background-size: cover;
              background-position: top center;
              min-height: 700px;
            "
          >
            <style>
              @import url("https://fonts.googleapis.com/css?family=Montserrat");
              body {
                background-color: #111;
              }

              .title1 {
                font-family: "Montserrat";
                text-align: center;
                color: #fff;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                height: 100vh;
                letter-spacing: 1px;
              }

              h1 {
                background-image: url(https://media.giphy.com/media/26BROrSHlmyzzHf3i/giphy.gif);
                background-size: cover;
                color: transparent;
                -moz-background-clip: text;
                -webkit-background-clip: text;
                text-transform: uppercase;
                font-size: 120px;
                line-height: 0.75;
                margin: 10px 0;
              }
              /* styling my button */

              .white-mode {
                text-decoration: none;
                padding: 7px 10px;
                background-color: #122;
                border-radius: 3px;
                color: #fff;
                transition: 0.35s ease-in-out;
                position: absolute;
                left: 15px;
                bottom: 15px;
                font-family: "Montserrat";
              }

              .white-mode:hover {
                background-color: #fff;
                color: #122;
              }

              .map-container-6 {
                overflow: hidden;
                padding-bottom: 56.25%;
                position: relative;
                height: 0;
              }

              .map-container-6 iframe {
                left: 0;
                top: 0;
                height: 100%;
                width: 100%;
                position: absolute;
              }

              .input-icons i {
                position: absolute;
              }

              .input-icons {
                width: 100%;
                margin-bottom: 10px;
              }

              .icon {
                padding: 10px;
                min-width: 40px;
              }

              .input-field {
                width: 100%;
                padding: 10px;
                text-align: center;
              }
            </style>

            <div class="footer" style="width: 100%; height: 90px">
              <footer
                class="footer"
                data-background-color="black"
                style="margin-top: 480px"
              >
                <div class="section3" id="contacts">
                  <!--Section: Contact v.1-->
                  <section class="section3 pb-5">
                    <!--Section heading-->
                    <!--<h2 class="section-heading h1 pt-4">Contactez nous</h2>-->
                    <!--Section description-->
                    <p class="section-description pb-4"></p>
                    <div class="row">
                      <!--Grid column-->
                      <div class="col-lg-5 mb-4">
                        <!--Form with header-->
                        <div class="contact-card">
                          <div class="card-bodys">
                            <!--Header-->
                            <div class="form-header blue accent-1">
                              <h2>
                                <i class="fas fa-envelope fa-lg"></i> CONTACT
                              </h2>
                            </div>
                            <br />
                            <!--Body-->
                            <div [hidden]="submitted" style="width: 300px">
                              <form (ngSubmit)="onSubmit()">
                                <div class="input-icons">
                                  <div class="md-form">
                                    <label for="form-name"> Votre nom</label>
                                    <i class="fas fa-user prefix grey-text"></i>
                                    <input
                                      type="text"
                                      name="nom"
                                      id="form-name"
                                      class="form-control"
                                      [(ngModel)]="form.nom"
                                      required
                                      #nom="ngModel"
                                    />
                                  </div>

                                  <div class="md-form">
                                    <label for="form-email">Votre email</label>
                                    <i
                                      class="fas fa-envelope prefix grey-text"
                                    ></i>
                                    <input
                                      type="email"
                                      name="email"
                                      id="form-email"
                                      class="form-control"
                                      [(ngModel)]="form.email"
                                      required
                                      #email="ngModel"
                                    />
                                  </div>
                                  <div class="md-form">
                                    <label for="form-Subject">Sujet</label>
                                    <i class="fas fa-tag prefix grey-text"></i>
                                    <input
                                      type="text"
                                      id="form-Subject"
                                      name="sujet"
                                      class="form-control"
                                      [(ngModel)]="form.sujet"
                                      required
                                      #sujet="ngModel"
                                    />
                                  </div>
                                  <div class="md-form">
                                    <label for="form-text"> Description</label>
                                    <i
                                      class="fas fa-pencil-alt prefix grey-text"
                                    ></i>
                                    <textarea
                                      id="form-text"
                                      name="description"
                                      class="form-control md-textarea"
                                      [(ngModel)]="form.description"
                                      required
                                      #description="ngModel"
                                      rows="3"
                                    ></textarea>
                                  </div>
                                </div>
                                <div class="text-center mt-4">
                                  <button
                                    class="btn btn-light-blue"
                                    type="submit"
                                  >
                                    Envoyer
                                  </button>
                                </div>
                              </form>
                            </div>
                          </div>
                        </div>
                        <!--Form with header-->
                      </div>
                      <!--Grid column-->

                      <!--Grid column-->
                      <div class="col-lg-7">
                        <!--Google map-->
                        <div
                          id="map-container-google-11"
                          class="z-depth-1-half map-container-6"
                          style="height: 500px"
                        >
                          <iframe
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3194.2430031310214!2d10.16803918470976!3d36.81269647994598!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12fd3386aae7a5f9%3A0x48d6f4f6afb7d57!2zQ2VudHJlIE5hdGlvbmFsIEluZm9ybWF0aXF1ZSAoQ05JKSAtINin2YTZhdix2YPYsiDYp9mE2YjYt9mG2Yog2YTZhNil2LnZhNin2YXZitip!5e0!3m2!1sar!2stn!4v1624394878964!5m2!1sar!2stn"
                            width="600"
                            height="450"
                            style="border: 0"
                            allowfullscreen=""
                            loading="lazy"
                          ></iframe>
                        </div>

                        <br />
                        <!--Buttons-->
                        <div class="row text-center">
                          <div class="col-md-4">
                            <a class="btn-floating blue accent-1"
                              ><i class="fas fa-map-marker-alt"></i
                            ></a>
                            <p></p>
                            <p>Tunisie</p>
                          </div>

                          <div class="col-md-4">
                            <a class="btn-floating blue accent-1"
                              ><i class="fas fa-phone"></i
                            ></a>
                            <p>+ 216 71 783 055</p>
                            <p>
                              17, rue Belhassen Ben Chaabane, 1005 El Omrane,
                              Tunis Tunisie.
                            </p>
                          </div>

                          <div class="col-md-4">
                            <a class="btn-floating blue accent-1"
                              ><i class="fas fa-envelope"></i
                            ></a>
                            <p>webcni@cni.tn</p>
                          </div>
                        </div>
                      </div>
                      <!--Grid column-->
                    </div>
                  </section>
                  <!--Section: Contact v.1-->
                </div>

                <nav>
                  <ul>
                    <li>
                      <a href="https://www.facebook.com/CNITUNISIA">
                        Facebook
                      </a>
                    </li>
                    <li>
                      <a href="https://twitter.com/CNITUNISIA"> Twitter </a>
                    </li>
                    <li>
                      <a href="https://www.linkedin.com/in/cnitunisia">
                        LinkedIn
                      </a>
                    </li>
                    <li>
                      <a href="http://www.cni.tn/index.php/fr/?view=page&id=44">
                        Site Web Officiel
                      </a>
                    </li>
                  </ul>
                </nav>
                <div class="copyright">
                  &copy; {{ data | date: "yyyy" }}, Designed by
                  <a
                    href="http://www.cni.tn/index.php/fr/?view=page&id=44"
                    target="_blank"
                    >Le centre nationale de l'informatique</a
                  >.
                </div>
              </footer>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
