<div class="wrapper">
    <div class="page-header clear-filter" filter-color="orange">
        <div class="page-header-image rellax-header" data-rellax-speed="-7" style="background-image: url('assets/img/pistevoiture.jpg');">

        </div>
        <div class="container">
            <div class="content-center brand">
                <img class="n-logo" src="assets/img/logovoiture.png" alt="">
                <div class="container">
                    <div class="wrapper">
                        <div class="container">
                            <div class="content-center brand">

                            </div>
                        </div>
                    </div>
                </div>
                <h2 class="h1-seo">Véhicule</h2>
                <h3> BIENVENU DANS MON ESPACE ADMINISTRATIF.</h3>
            </div>
        </div>
    </div>
    <div class="main">
        <div style="margin:0px; padding:0 0;">
            <div class="section2 section-images">
                <div class="navigation-example" style="background-image: url('assets/img/voituregif.gif'); background-repeat: no-repeat; background-size: 100% 100%">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="title1" style="height:670px;">
                                    <h1> Welcome in <br/>véhicule</h1>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
        <app-navigation></app-navigation>
      
        <div class="section section-javascript" id="javascriptComponents">
            <div class="container">
                <div class="row" id="modals">
                    <div class="col-md-6">
                        
                    </div>
                </div>
            </div>
        </div>
            <div class="container">
 <ngb-carousel>
                            <ng-template ngbSlide>
                                <img style="height:900px;" src="assets/img/tn1.png" alt="First slide">
                                <div class="carousel-caption d-none d-md-block">

                                </div>
                            </ng-template>
                            <ng-template ngbSlide>
                                <img style="height:800px;" src="assets/img/tn2.jpg" alt="Second slide">
                                <div class="carousel-caption d-none d-md-block">

                                </div>
                            </ng-template>
                            <ng-template ngbSlide>
                                <img style="height:800px;" src="assets/img/tn3.jpg" alt="Third slide">
                                <div class="carousel-caption d-none d-md-block">

                                </div>
                            </ng-template>
                        </ngb-carousel>
    
        </div>

        <div class="section">
            <div class="container text-center">
                <div class="row justify-content-md-center">
                    <div class="col-md-12 col-lg-8">
                        <h2 class="title">Bienvenu Monsieur le Citoyen</h2>
                        <h5 class="description">Bienvenu sur notre plateforme :
                    <br/> Si vous n'etes pas inscrite et vous pouvez faire une demande du duplicata : créer votre compte et envoyer votre demande à l'agence technique des transport terrestres!!
           </h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="section section-signup" style="background-image: url('assets/img/bg11.jpg'); background-size: cover; background-position: top center; min-height: 700px;">
        
            <style>
                @import url('https://fonts.googleapis.com/css?family=Montserrat');
                body {
                    background-color: #111;
                }
                
                .title1 {
                    font-family: "Montserrat";
                    text-align: center;
                    color: #FFF;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    height: 100vh;
                    letter-spacing: 1px;
                }
                
                h1 {
                    background-image: url(https://media.giphy.com/media/26BROrSHlmyzzHf3i/giphy.gif);
                    background-size: cover;
                    color: transparent;
                    -moz-background-clip: text;
                    -webkit-background-clip: text;
                    text-transform: uppercase;
                    font-size: 120px;
                    line-height: .75;
                    margin: 10px 0;
                }
                /* styling my button */
                
                .white-mode {
                    text-decoration: none;
                    padding: 7px 10px;
                    background-color: #122;
                    border-radius: 3px;
                    color: #FFF;
                    transition: .35s ease-in-out;
                    position: absolute;
                    left: 15px;
                    bottom: 15px;
                    font-family: "Montserrat";
                }
                
                .white-mode:hover {
                    background-color: #FFF;
                    color: #122;
                }
                
                .map-container-6 {
                    overflow: hidden;
                    padding-bottom: 56.25%;
                    position: relative;
                    height: 0;
                }
                
                .map-container-6 iframe {
                    left: 0;
                    top: 0;
                    height: 100%;
                    width: 100%;
                    position: absolute;
                }
                
                .input-icons i {
                    position: absolute;
                }
                
                .input-icons {
                    width: 100%;
                    margin-bottom: 10px;
                }
                
                .icon {
                    padding: 10px;
                    min-width: 40px;
                }
                
                .input-field {
                    width: 100%;
                    padding: 10px;
                    text-align: center;
                }
            </style>
            <div class="footer" style="width:100%;height:90px;">
                <footer class="footer" data-background-color="black" style="margin-top:500px;">
                    <div class="title1">
                        <h1>thanks<br/>VEHICULE</h1>
                    </div>
                    <div class="section3" id="contacts">
                        <!--Section: Contact v.1-->
                        <section class="section3 pb-5">
                            <!--Section heading-->
                            <!--<h2 class="section-heading h1 pt-4">Contactez nous</h2>-->
                            <!--Section description-->
                            <p class="section-description pb-4">
                            </p>
                            <div class="row">
                                <!--Grid column-->
                                <div class="col-lg-5 mb-4">

                                    <!--Form with header-->
                                    <div class="contact-card">

                                        <div class="card-bodys">
                                            <!--Header-->
                                            <div class="form-header blue accent-1">
                                                <h2><i class="fas fa-envelope fa-lg"></i> Nous contacter:</h2>
                                            </div>
                                            <br>
                                            <!--Body-->
                                            <div [hidden]="submitted" style="width: 300px;">
                                                <form (ngSubmit)="onSubmit()">
                                                    <div class="input-icons">
                                                        <div class="md-form">
                                                            <label for="form-name">votre name</label>
                                                            <i class="fas fa-user prefix grey-text"></i>
                                                            <input type="text" name="nom" id="form-name" class="form-control" [(ngModel)]="form.nom" required #nom="ngModel">
                                                        </div>
                                                        <div class="md-form">
                                                            <label for="form-email">Votre  email</label>
                                                            <i class="fas fa-envelope prefix grey-text"></i>
                                                            <input type="email" name="email" id="form-email" class="form-control" [(ngModel)]="form.email" required #email="ngModel">
                                                        </div>
                                                        <div class="md-form">
                                                            <label for="form-Subject">Sujet</label>
                                                            <i class="fas fa-tag prefix grey-text"></i>
                                                            <input type="text" id="form-Subject" name="sujet" class="form-control" [(ngModel)]="form.sujet" required #sujet="ngModel">

                                                        </div>
                                                        <div class="md-form">
                                                            <label for="form-text"> Description</label>
                                                            <i class="fas fa-pencil-alt prefix grey-text"></i>
                                                            <textarea id="form-text" name="description" class="form-control md-textarea" [(ngModel)]="form.description" required #description="ngModel" rows="3"></textarea>

                                                        </div>
                                                    </div>
                                                    <div class="text-center mt-4">
                                                        <button class="btn btn-light-blue" type="submit">Envoyer</button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                    <!--Form with header-->
                                </div>
                                <!--Grid column-->

                                <!--Grid column-->
                                <div class="col-lg-7">

                                    <!--Google map-->
                                    <div id="map-container-google-11" class="z-depth-1-half map-container-6" style="height: 500px">
                                        <iframe src="https://maps.google.com/maps?q=Ariana%20tunisie&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" style="border:0" allowfullscreen></iframe>
                                    </div>

                                    <br>
                                    <!--Buttons-->
                                    <div class="row text-center">
                                        <div class="col-md-4">
                                            <a class="btn-floating blue accent-1"><i class="fas fa-map-marker-alt"></i></a>
                                            <p></p>
                                            <p> Tunisie</p>
                                        </div>

                                        <div class="col-md-4">
                                            <a class="btn-floating blue accent-1"><i class="fas fa-phone"></i></a>
                                            <p>+ 216 568 354 23</p>
                                            <p>Lundi -Vendredi, 8:00-18:00</p>
                                        </div>

                                        <div class="col-md-4">
                                            <a class="btn-floating blue accent-1"><i class="fas fa-envelope"></i></a>
                                            <p>Véhicule@gmail.com</p>
                                        </div>
                                    </div>

                                </div>
                                <!--Grid column-->

                            </div>

                        </section>
                        <!--Section: Contact v.1-->
                    </div>

                    <nav>
                        <ul>
                            <li>
                                <a href="#">
                          Menu
                      </a>
                            </li>
                            <li>
                                <a href="#">
                          About Us
                      </a>
                            </li>
                            <li>
                                <a href="#">
                          Blog
                      </a>
                            </li>
                            <li>
                                <a href="#">
                          MIT License
                      </a>
                            </li>
                        </ul>
                    </nav>
                    <div class="copyright">
                        &copy; {{data | date: 'yyyy'}}, Designed by
                        <a href="#" target="_blank">Freelancer</a>.
                    </div>
                </footer>
            </div>
        </div>