<div class="section section-navbars">
    <div id="navbar">
        <div class="navigation-example" style="background-image:url('assets/img/gris.jpg')">
            <!-- Navbar Transparent -->
            <nav class="navbar navbar-expand-lg navbar-transparent">
                <div class="container">
                    <div class="navbar-translate">
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#example-navbar-transparent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-bar bar1"></span>
                            <span class="navbar-toggler-bar bar2"></span>
                            <span class="navbar-toggler-bar bar3"></span>
                        </button>
                    </div>
                    <div class="collapse navbar-collapse" id="example-navbar-transparent">
                        <ul class="navbar-nav ml-auto">
                    
                        </ul>
                    </div>
                </div>
            </nav>
            <!-- End Navbar Transparent-->
            <div class="row">
                <div class="typography-line" class="col-sm-4 col-md-8">
                    <blockquote style="margin-right:10%; margin-top:5%;width:120%; margin-left:10%;">
                        <div class="blockquote blockquote-primary">
                            <br>
                            <br>
                            <p style="margin:10px; font-weight: bold; align: center; font-family: cursive;font-size: 150%; color:#0e0d0dde;">
                                Vous avez un Citoyen  <br>
                                <br>Consulter Votre  Etat du Demande!!  <br>
                                                           <br> Cliquer sur le bouton !
                            </p><br>
                            <div>
                                <div class="navbar-nav ml-auto" routerLinkActive="active">
                                    <a class="btn btn-round btn-lg" [routerLink]="['/login']">
                                        <i class="fas fa-user-tie"></i> Consulter
                                    </a>
                                </div>
                            </div>
                        </div>
                    </blockquote>
                </div>
                <div>
                </div>
            </div>
        </div>
    </div>
</div>